#container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;

  width: 100vw;
  height: 100vh;
  background-color: #242424;
}

body {
  margin: 0;
}